// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.client-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .client-info {
        display: flex;
        font-size: 20px;
        font-weight:bolder;
        justify-content: space-around;
        color: #000000;
    }
    .buttons, a {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: 12px;
    }
}

.account-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .account-info {
        display: flex;
        justify-content: space-around;
        .account-data {
            width: 300px;
        }
        .client {
            color: #322D31;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 5px;
            padding-right: 20px;
            width: 300px;
            text-decoration: none;
            transition: all .3s;
            &:hover {
                color: darken(skyblue, 30%);
            }
        }
    }
    .buttons, a {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: 12px;
    }
}

.sort-filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    height: 100%;
    position: relative;
    button,
    a {
        top: -4px;
        position: relative;
        font-size: 12px;
    }
}

.show-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;
    font-size: 12px;
    button,
    a {
        font-size: 12px;
        top: -4px;
        position: relative;
    }

}

.account-line.active {
    background-color: lightcyan;
    padding: 4px;
}

.client-line.active {
    background-color: lightcyan;
    padding: 4px;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.226);
}

.grey {
    background-color: #C5C6D0;
    
}

.brown {
    background-color: #787278;
}

.btn:hover {
    box-shadow: 0px 7px 12px 0px rgb(0, 0, 0, 60%);  
    text-decoration: none;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(90, 81, 33, 0.5) !important;
  }

.black {
    color: #000000;
    font-size: 12px;
    font-style: italic;
}

table tr, th {
    color:grayscale($color: #000000);
}

.butn2 {
    font-size: 12px;
}

